<ul>
    <li ng:click="Home()" snap-close><a href="javascript:void(0)">Home</a></li>
    <li snap-close><a href="#/phones">Show Phone List</a></li>
    <li ng:click="ProductList()" snap-close><a href="javascript:void(0)">Product List</a></li>
</ul>