<div class="container-fluid">
    <div class="opt">
        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
        </select>
    </div>
    <div class="opt" ng-repeat="product in productslist | filter:query | orderBy:orderProp">
        <a href="#/product/{{phone.sku}}" class="thumb"><img ng-src="{{product.image}}"></a>
        <a href="#/product/{{phone.sku}}">{{product.name}}</a>
        <p>{{product.sku}}</p>
    </div>
</div>
<div class="loader-container" ng-hide="productslist === undefined || productslist.$resolved">
    <img class="loader-img"  src="img/ajaxloading.gif">
</div>
